@import url('https://fonts.google.com/specimen/League+Spartan');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Very_Dark_Magenta: hsl(300, 43%, 22%);
    --Soft_Pink: hsl(333, 80%, 67%);
    --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
    --Light_Grayish_Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background: url(/images/bg-pattern-top-desktop.svg) no-repeat, url(/images/bg-pattern-bottom-desktop.svg) no-repeat bottom 0 right 0;
}
.container{
    padding: 6rem 8rem;
}

.cont__contents{
    display: flex;
    padding-bottom: 100px;
}
.cont__content-text{
    width: 50%;
    color: var(--Very_Dark_Magenta);
}
.cont__content-tittle{
    margin-right: 30%;
    font-size: 3rem;
    font-weight: 700;
}
.cont__content-subs{
    margin-right: 20%;
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--Dark_Grayish_Magenta);
    font-weight: 400;
}

.cont__content-item{
    width: 50%;
}

.item-image{
    background-color: var(--Light_Grayish_Magenta);
    padding: 20px;
    display: flex;
    width: 80%;
    border-radius: 10px;
}
.item-text {
    margin-left: 50px;
    font-weight: 600;
    color: var(--Very_Dark_Magenta);
}

.item-image:nth-child(2){
    margin: 25px 2rem;
}

.item-image:nth-child(3){
    margin-left: 4rem;
}
.cont__items{
    display: flex;
    justify-content: space-between;
}
.cont__item{
    width: 32%;
    padding: 20px;
    background-color: var(--Very_Dark_Magenta);
    border-radius: 10px;
    height: 40%;
}
.cont__item:nth-child(2){
    margin-top: 2rem;
}
.cont__item:nth-child(3){
    margin-top: 4rem;
}
.auth{
    display: flex;
    align-items: center;
}
.auth .info{
    padding-left: 10px ;
    font-weight: 600;
}
.auth .name {
    color: var(--White);
}
.auth .verified{
    color: var(--Soft_Pink);
    font-size: 12px;
    padding-top: 4px;
}
.auth .avt img{
    border-radius: 50%;
    width: 50px;
}

.desc{
    color: var(--White);
    padding: 20px 0;
}

@media screen and (max-width: 700px) {
    body{
        text-align: center;
    }
    .container{
        width: 80%;
        padding: 3rem;
        margin: 0 auto;
    }
    .cont__content-text, .cont__content-tittle, .cont__content-item{
        width: 100%;
    }
    .cont__contents, .item-image, .cont__item{
        display: block;
        margin: 0;
        width: 100%;
    }
    .item-image:nth-child(2){
        margin: 20px 0;
    }
    .item-text, .item-image:nth-child(3){
        margin: 0;
    }
    .item-text{
        margin: 10px 0;
    }
    .cont__content-subs{
        margin: 0;
    }
    .cont__items{
        flex-direction: column;
    }
    .cont__item{
        width: 100%;

    }
    .cont__item, .cont__item:nth-child(2), .cont__item:nth-child(3){
        margin: 20px 0;
    }
}