@media only screen and (max-width: 1000px) {
  .header {
    background: url(images/bg-pattern-intro-mobile.svg) no-repeat bottom -400px left -250px/250%,
      linear-gradient(0deg, var(--Light_red), var(--Very_light_red) 100%);
    height: 500px;
    border-bottom-left-radius: 85px;
    padding: 40px 20px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  /* .nav-items {
    display: none !important;
  } */

  .hamburger {
    display: block !important;
    cursor: pointer;
    position: fixed;
    right: 20px;
  }
  .hamburger::after{
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: red;
    position: relative;
  }

  .hamburger button {
    outline: none;
    border: none;
    background: transparent !important;
    cursor: pointer;
  }
  .header .intro .intro-btn {
    display: inline-block;
  }
  .header .intro .intro-btn button {
    margin: 5px 2px;
    padding: 10px;
  }
  .header .intro {
    padding: 20px;
  }
  .header .intro h1 {
    font-size: 38px !important;
    margin: 20px 6px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  /* design */
  .design {
    margin-top: 0;
    padding-bottom: 50px;
    display: block !important;
  }
  .design .contents {
    display: flex !important;
    text-align: center;
    height: 1000px;
    flex-direction: column-reverse;
  }
  .design h2 {
    position: relative;
    top: 1%;
    font-size: 24px;
    right: 0%;
    font-weight: 600;
    margin-bottom: 3%;
  }
  .illustration {
    background: url(images/illustration-editor-mobile.svg) no-repeat center
      center/contain;
  }
  .design .contents .left h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 30px 0;
  }
  .design .contents .left {
    padding: 0;
  }
  .design .contents .right {
    width: 100%;
    height: 400px;
  }
  .design .contents .left .content {
    margin: 0 30px;
  }
  .design .contents .left,
  .design .contents .right {
    display: block !important;
    width: 100%;
  }
  /* state */
  .container .state {
    height: 600px;
    display: block !important;
    margin-top: 250px;
  }
  .container .state .image {
    background: url(images/bg-pattern-circles.svg) no-repeat top -200px left -80px /150%
      100%;
    width: 100%;
    border-top-right-radius: 100px;
  }
  .container .state .image img {
    width: 100%;
    height: auto;
    margin-top: -50%;
    margin-left: 0px;
  }
  .container .state .contents {
    top: -55%;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 0 40px;
  }
  .container .state .contents p {
    line-height: 1.4em;
  }
  /* laptop */
  .container .illustration-laptop {
    margin-bottom: 100px;
  }
  .container .illustration-laptop .image {
    height: 50%;
    width: 100%;
    background: url(images/illustration-laptop-mobile.svg) no-repeat center
      center/contain !important;
  }
  .container .illustration-laptop .contents {
    top: 0;
  }
  /* footer */
  .footer {
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
  }
  .footer .footer-item {
    padding-right: 0;
  }
  .footer .footer-item .footer-title {
    font-weight: 500;
    margin: 30px;
  }
  /* box modal */
  .nav-items {
    background-color: white;
    z-index: 1000;
    color: red;
    position: fixed;
    top: 1000px;
    left: 12%;
    width: 76% !important;
    border-radius: 10px;
  }
  .nav-items,
  .nav-item {
    margin: 0 !important;
    flex-direction: column;
  }
  .nav-item{
    padding: 20px 0;
  }
  .nav-items,
  .nav-item p {
    text-align: center;
  }
  .nav-items,
  .nav-item:first-child {
    border-bottom: 1px solid var(--Grayish_blue_footer_text);
  }
  .nav .nav-items .nav-item-links {
    margin: 0 !important;
    width: 80% !important;
    padding: 0 10px;
  }
  .nav-items .nav-item-links .popup,
  .nav-items .nav-item {
    width: 100% !important;
    margin: 12px 0;
  }
  .nav .nav-items .nav-item-links .list-popup {
    position: relative !important;
    padding: 16px;
    margin-top: 0px !important;
    border-radius: 6px;
    background-color: var(--Grayish_blue_footer_text) !important;
    color: var(--Very_dark_desaturated_blue);
    z-index: 1000;
    display: none;
    width: 100%;
    box-shadow: none !important;
    animation: show 0.3s;
  }
  .nav-items .nav-item-links .popup{
    padding: 10px !important;
  }
  .show-list {
    position: absolute !important;
    display: block !important;
    box-shadow: none !important;
    background-color: var(--Grayish_blue_footer_text) !important;
  }

  .nav .nav-items .nav-item-btns button{
    margin: 10px 0 !important;
    padding: 10px 25px ;
    font-size: 18px;
  }
  .nav-items .nav-item-btns .login{
    color: var(--Very_dark_desaturated_blue);
  }
  .show {
    animation: show-list 0.2s both;
  }
  .remove-show-list {
    animation: remove-show-list 0.2s both;
  }
  .show-btn {
    transform: rotate(-180deg);
    transition: 0.2s ease-in-out;
  }
  .close-btn {
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
  }
  @keyframes show-list {
    from {
      top: -1000px;
    }
    to {
      top: 100px;
    }
  }
  @keyframes remove-show-list {
    from {
      top: 100px;
    }
    to {
      top: -1000px;
    }
  }
}
